body {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'PT Sans', 'Arial', sans-serif;
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.clearfix::after {
	clear:both;
	display: table;
	content:"";
}

.main-nav {
	background-color: #ffffff;
}
	
.main-nav ul {
	font-size: 0px;
	padding: 0px;
	margin: 0px;
}

.main-nav li {
	display: inline-block;
	padding-top: 13px;
	padding-bottom: 16px;
	font-size: 14px;
	line-height: 26px;
	vertical-align: top;
}

.main-nav .left-side {
	float: left;
	text-align: left;
	width: 478px;
}

.left-side li {
	width: 166px;
	margin-left: 73px;
}

.main-nav .right-side {
	float: right;
	text-align: right;
	width: 478px;
}

.right-side li:last-child {
	width: 166px;
	margin-right: 73px;
}

.right-side li:first-child {
	margin-right: 77px;
	width: 162px;
}

.main-nav .logo {
	width: 244px;
	height: 57px;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
	text-align: center;
}

.main-nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:active {
	color: #cacaca;
}

.main-nav a.active {
	color: #766357;
}

.header-landscape {
	height: 352px;
	width: 458px;
	margin: 0 auto;
	
}
.header-landscape img {
	font-size: 0px;
	padding: 0px;
	margin: 0px;
}

.landscape {
	background-image: url("../img/landscape-bottom-mask.png"), url("../img/landscape.jpg");
	background-color: #7e8187;
	background-position: bottom, center;
	background-repeat: no-repeat, no-repeat;
	padding-top: 76px;
	height: 431px;	
}

.promo {
	text-align: center;
	padding-top: 60px;
	background-color: #ffffff;
	padding-bottom: 50px;
}

.promo h1 {
	font-size: 21px;
	line-height: 26px; 
	padding-left: 300px;
	padding-right: 300px;
	margin: 0px;
	font-weight: bold;
	margin-bottom: 28px;
}

.promo h2 {
	font-size: 14px;
	line-height: 26px;
	margin: 0px;
	font-weight: normal;
	color: #333333;
}


.advantages-first-block {
	background-color: #81b3d2;
}

.advantages h3 {
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	font-weight: bold;
	margin: 0px;
}

.advantages-first-block .advantage-item-text {
	float:left;
}

.advantages-first-block .advantage-item-picture {
	float:right;
}

.advantage-item-picture img {
	display: block;
	width: 800px;
	height: 256px;
}

.advantage-item-text {
	width: 400px;
	padding-top: 54px;
	text-align: center;
	color: #ffffff;
}

.advantage-item-text h3 {
	padding-left: 125px;
	padding-right: 124px;
	margin-bottom: 23px;
}

.advantage-item-text span {
	font-size: 14px;
	line-height: 21px;
}

.advantage-item-text p {
	font-size: 14px;
	line-height: 21px;
	margin-top: 23px;																		
	margin-bottom: 50px;
	padding-left: 55px;
	padding-right: 55px;
}

div.advantage-item-text:nth-child(2) p {
	padding-left: 40px;
	padding-right: 40px;
}


.features ul{
	padding: 0px;
	margin: 0px;
	font-size: 0px;
	background: #ffffff;
}

.features li {
	padding-top: 162px;
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	font-size: 14px;
	position: relative;
	text-align: center;
}

.features li::before {
	position: absolute;
	content: "";
}

.features li p {
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 82px;
	margin-top: 23px;
}

.features li:first-child::before {
	background: url("../img/sprite.png") no-repeat -5px -172px;
	width: 75px;
	height: 72px;
	top: 60px;
	left: 162px;
}

.features li:nth-child(2)::before {
	background: url("../img/sprite.png") no-repeat -5px -89px;
	width: 74px;
	height: 70px;
	top: 61px;
	left: 163px;
}

.features li:nth-child(3)::before {
	background: url("../img/sprite.png") no-repeat -181px -86px;
	width: 64px;
	height: 76px;
	top: 56px;
	left: 168px;
}


.advantages-second-block {
	background-color: #81b3d2;
}

.advantages-second-block .advantage-item-picture {
	float:left;
}

.advantages-second-block .advantage-item-text {
	float:left;
}

.advantages-third-block ul {
	background-color: #eeeeee;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}

.advantages-third-block li {
	font-size: 14px;
	color: #000000;
	display: inline-block;
	vertical-align: middle;
	padding-top: 47px;
}

li.advantage-item-text p {
	margin-bottom: 57px;
	padding-right: 60px;
	padding-left: 60px;
}



.search {
	text-align: center;
	padding-top: 54px;
	position: relative;
	position: relative;
	background: #ffffff;
}

.search h2 {
	margin: 0px;
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 28px;
}

.search p {
	margin-bottom: 47px;
	font-size: 14px;
	line-height: 24px;
}

.search .search-btn {
	display: block;
	margin: 0 auto;
	width: 568px;
	background: #766357;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	border: 0px;
	font-family:  'PT Sans', 'Arial', sans-serif;
}

.pop-up {
	position: absolute;
	z-index: 10;
	left: 316px;
	width: 568px;
	padding-top: 55px;
	background: #ffffff;
	display: none;
}

@keyframes bounce {
	0% { transform: translateY( -45px);  }
	70% {transform: translateY( 40px);	 }
	90% { transform: translateY( -10px); }
	100% {transform: translateY( 0px);   }
}

.pop-up-show {
	display: block;
	animation: bounce 0.6s;
}

@keyframes shake {
	0%, 100%	{transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.pop-up-error {
	animation: shake 0.6s;
}

.pop-up input {
	background-color: #f2f2f2;
	border: 0px;
	height: 38px;	
	box-sizing: border-box;
}

.pop-up input,
.pop-up label {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-family:  'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	color: black;
}

.pop-up input:hover {
	background: #ebebeb;
}

.pop-up input:focus {
	background: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.pop-up button {
	outline: none;
}

.string input {
	width: 346px;
	margin-left: 17px;
	padding-left: 12px;
	border: none;
	padding-right: 0px;
}

.string:nth-child(2) input {
	margin-left: 16px;
}

.string {
	margin: 0 auto;
	width: 460px;
	margin-bottom: 30px;
	position: relative;
}

.string .calendar {
	width: 21px;
	height: 22px;
	background: url("../img/sprite.png") no-repeat -134px -10px;
	position: absolute;
	right: 10px;
	top: 8px;
}

.string .calendar:hover {
	background: url("../img/sprite.png") no-repeat -175px -10px;
}

.string .calendar:active {
	background: url("../img/sprite.png") no-repeat -216px -10px;
}

.string-last {
	font-size: 0px;
	width: 460px;
	margin: 0 auto;
	margin-bottom: 54px;
}

.string-last input {
	width: 115px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

.pop-up input::-ms-clear {
   display: none;
}

.half-string {
	display: inline-block;
	vertical-align: middle;
	width: 230px;
	position: relative;
}

.half-string .plus {
	width: 35px;
	height: 38px;
	background: url("../img/sprite.png") no-repeat -273px -121px;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0px;
}

.half-string .plus:hover {
	background: url("../img/sprite.png") no-repeat -335px -121px;
}

.half-string .plus:active {
	background: url("../img/sprite.png") no-repeat -304px -121px;
}

.half-string .minus {
	width: 35px;
	height: 38px;
	background: url("../img/sprite.png") no-repeat -298px -171px; 
	position: absolute;
	left: 112px;
	top: 0px;	
	padding: 0px;
}

.half-string .minus:hover {
	background: url("../img/sprite.png") no-repeat -220px -171px;
}

.half-string .minus:active {
	background: url("../img/sprite.png") no-repeat -259px -171px;
}

.string button,
.half-string button {
	border: 0px;
	cursor: pointer;
}

.half-string:first-child input {
	margin-left: 40px;
}

.half-string:last-child input {
	margin-left: 25px;
}

.half-string:last-child {
	width: 180px;
	padding-left: 50px;
}

.pop-up .pop-up-btn {
	text-decoration: none;
	height: 58px;
	width: 460px;
	background-color: #81b3d2;
	text-align: center;
	color: #ffffff;
	border: 0px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-bottom: 55px;
	font-family:  'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
}


.pop-up-btn:hover {
	background: #669ec0;
}

.pop-up-btn:active {
	background: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.string ::-webkit-input-placeholder,
.string-last ::-webkit-input-placeholder {
	color: #c0392b;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: black;
}

.map {
	background: url("../img/map.jpg") no-repeat;
	height: 593px;
	position: relative;
	margin-bottom: -120px;
}

footer {
	background: #ffffff;
	opacity: 0.9;
	width: 1200px;
	}

.footer-content {
	width: 1056px; 
	margin: 0 auto;
	font-size: 0px;
	padding-top: 36px;
	padding-bottom: 36px;
}

.footer-content div {
	display: inline-block;
	vertical-align: middle;
	
}

.footer-social {
	width: 400px;
	margin: 0 88px;
	font-size: 0px;
}

.footer-copyright,
.footer-hashtag {
	width: 240px;
}

.footer-hashtag p {
	margin: 0px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-left: 58px;
}

.footer-social .social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	height: 48px;
	font-size: 0px;
	background-color: #81b3d2;
	position: relative;
	margin: 0 3px;
}

.footer-social .social-btn:first-child {
	margin-left: 125px;
}

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	transform: translate( -50%, -50%);
}

.social-btn-twitter::before {
	background-position: -153px -103px;
	width: 17px;
    height: 15px;
}

.social-btn-twitter:active::before {
	background-position: -89px -134px;
}

.social-btn-facebook::before {
	width: 10px;
    height: 19px;
    background-position: -186px -52px;
}

.social-btn-facebook:active::before {
	background-position: -216px -52px;
}

.social-btn-youtube::before {
	width: 20px;
    height: 16px;
    background-position: -116px -134px;
}

.social-btn-youtube:active::before {
	background-position: -146px -134px;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background: #5496bd;
}

.footer-copyright {
	font-size: 0px;
}

.footer-copyright span, a {
	display: inline-block;
	vertical-align: middle;
}

.footer-copyright span {
	margin-right: 8px;
	font-size: 14px;
	line-height: 26px;
	margin-left: 15px;
}

.footer-copyright .copyright-btn {
	width: 113px;
	height: 39px;
	background: url("../img/sprite.png") no-repeat -90px -172px;
}

.copyright-btn:hover {
	background: url("../img/sprite.png") no-repeat -255px -54px;
}

.copyright-btn:active {
	background: url("../img/sprite.png") no-repeat -252px -5px;
}





.filter {
	background: url("../img/filter-background.jpg");
	height: 193px;
	padding-top: 25px;
}
.filter-form {
	width: 1056px;
	margin: 0 auto;
	color: white;
}

.filter-form fieldset {
	padding: 0px;
	margin: 0px;
	border: 0px;

}

.filter-form legend {
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.filter-form .infrostructure,
.filter-form .type-of-house {
	width: 200px;
	float: left; 
}

.filter-form .infrostructure{
	margin-right: 55px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	margin: 25px 0;
	padding-left: 41px;
	position: relative;
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 22px;
	background: url("../img/sprite.png") no-repeat -102px -52px;
}

input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 22px;
	background: url("../img/sprite.png") no-repeat -10px -52px;
}

input[disabled]:checked + label::after {
	background: url("../img/sprite.png") no-repeat -56px -52px;
}

input[disabled] + label::before {
	background: url("../img/sprite.png") no-repeat -144px -52px;
}



.filter-form .price {
	width: 330px;
	float: right;
}

.price legend {
	margin-bottom: 13px;
	margin-left: 2px;
}

.price .price-controls {
	height: 32px;
	margin-bottom: 20px;
	margin-left: 10px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0px;
	width: 314px;
	position: relative;
}

.price-controls::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	cursor: pointer;
	line-height: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls .max-price {
	padding-left: 60px;
}

.price-controls input {
	width: 50px;
	margin: 0px;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.price-range {
	position: relative;
	margin-bottom: 32px;
	margin-left: 10px;
	width: 317px;
}

.price-range .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.price-range .bar {
	height: 2px;
	background: #ffffff;
	width: 80%;
}

.price-range .range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min {
	left: 0px;
}

.range-toggle-max {
	left: 80%;
}

.range-toggle:hover {
	background: #1c4f80;
}

.price .price-btn {
	display: block;
	margin: 0 auto;
	padding: 6px 33px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'PT Sans', 'Arial', sans-serif;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

.price .price-btn:hover {
	background: #ffffff;
	color: #000000;
}
	
.results {
	padding-top: 28px;
}

.sort {
	width: 1056px;
	margin: 0 auto;	
	padding-bottom: 30px;
}

.sort b {
	font-size: 21px;
	line-height: 26px;
	margin-right: 45px;

}

.sort span {
	margin-right: 35px;
	font-size: 12px;
	line-height: 18px;
}


.sort .sort-type {
	margin-right: 30px;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
	color: #cacaca;
}

.sort .active {
	border: none;
	color: #81b3d2;
}

.sort .sort-type:hover {
	color: #81b3d2;
}

.sort .sort-type:active {
	border: none;
	color: #000000;
}

.arrow-block {
	float: right;
	width: 34px;
	height: 21px;
	font-size: 0px;
	margin-top: 5px;
}

.arrow {
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
	width: 11px;
    height: 10px;
    background: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
}


.arrow:nth-child(2) {
	margin-left: 12px;	
}

.arrow-block .active {
	background-position: -72px -10px;
}

.arrow-block .arrow:nth-child(2):hover,
.arrow-block .arrow:nth-child(2):active {
	transform: rotate(180deg);
}

.arrow-block .arrow:hover {
	background-position: -103px -10px;
}

.arrow-block .arrow:active {
	background-position: -41px -10px;
}






.results {
	background: #ffffff;
}

.search-result-item {
	border-top: 1px solid #e5e5e5;
}

.search-result-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.result-content {
	width: 1056px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 0px;
}

.result-content > div,
.result-content .img {
	display: inline-block;
	vertical-align: top;
	font-size: 0px;
}

.img img {
	display: block;
}

.description {
	width: 260px;
	margin-left: 30px;
	margin-right: 520px;
}

.description .hotel-name {
	margin: 0px;
	font-size: 21px;
	line-height: 26px;
	margin-top: -4px;
	margin-bottom: 7px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.description .hotel-name:hover {
	color: #81b3d2;
}

.description .hotel-name:active {
	color: #cacaca;
}

.description .type-price {
	font-size: 0px;
	margin-bottom: 13px;
}

.description .type-price span {
	display:inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 21px;
}

.type-price span:first-child {
	width: 110px;
	margin-right: 8px;
}

.description .btns {
	font-size: 0px;
}

.btns .btn {
	height: 21px;
	width: 142px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;
}

.btn:first-child {
	background-color: #81b3d2;
	width: 110px;
	margin-right: 6px;
}

.btn:last-child {
	background-color: #766357;
}

.btn:first-child:hover {
	background: #669ec0;
}

.btn:last-child:hover {
	background-color: #604e43;
}

.btn:first-child:active {
	background: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.btn:last-child:active {
	background: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.result-content .stars {
	width: 111px;
}

.stars img {
	float: right;
	margin-top: -1px;
}

.stars span {
	display: block;
	width: 112px;
	height: 21px;
	margin-top: 63px;
	margin-right: 0px;
	color: white;
	background-color: #f2f2f2;
	color: #666666;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}











